<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amplify.amplify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".InitApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Amplify">

        <service
            android:name="com.amplify.amplify.MessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.amplify.amplify.ForgotActivity"
            android:exported="true" />
        <activity
            android:name="com.amplify.amplify.OkActivity"
            android:exported="true" />
        <activity
            android:name="com.amplify.amplify.SignUpActivity"
            android:exported="true" />
        <activity
            android:name="com.amplify.amplify.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.amplify.amplify.AuthActivity"
            android:exported="true"
            android:noHistory="true" />
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>